<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Data Source=Sql1001.webweb.com;Initial Catalog=DB_9A446B_NFineBase;Persist Security Info=True;User ID=DB_9A446B_NFineBase_admin;Password=du13183319608" providerName="System.Data.SqlClient" />
</connectionStrings>